<div class="row" style="text-align: justify">
    
	<h2>Dialogue for {{ owner_name }}</h2>
    <p>
        Welcome to this year’s Competence Development Dialogue. As the name suggests, it is a dialogue in which the goal is to develop the employee. In order for the dialogue to create value for the employee and the company, it is essential that you prepare yourself prior to the dialogue. Before the dialogue, it is important that both you and the employee think and reflect on a number of issues. During the dialogue, it is important that you both contribute to a constructive dialogue. At the end of the dialogue, the areas of development that you have agreed are summarised and written down.
    </p>
    <h3>There are 3 stages to the dialogue:</h3>
    <p>
        <strong>Phase 1 – Preparation</strong>
    </p>
    <p>
        <ul>
            <li>
                Complete the preparation guide, which consists of: 
                <ul>
                    <li>Task Key</li>
                    <li>Skills Key</li>
                    <li>Since the last CDD</li>
                </ul>
            </li>
        </ul>
    </p>
    <p>
        <strong>Phase 2 – Dialogue  </strong>
    </p>
    <p>
        <ul>
            <li>Dialogue on the basis of the preparation guide</li>
            <li>Complete the development plan together during the dialogue</li>
            <li>Summary of the specific development areas and write them in the Contribution Key</li>
        </ul>
    </p>
    <p>
        <strong>Phase 3 – Realisation</strong>
    </p>
    <p>
        <ul>
            <li>Plan ongoing activities to bring the development areas into play</li>
            <li>You and the employee regularly follow up on the Contribution Key</li>
        </ul>
    </p>
    <h3>Preparation for the dialogue</h3>
    <p>        
        Your preparation and commitment have a great influence on how effective the employee’s dialogue will be. Therefore, you should do the following prior to the dialogue:
    </p>
    <p>
        <ul>
            <li>Set aside at least 90 uninterrupted minutes to complete the preparation guide</li>
            <li>Read and reflect on the Task Key and record the employee’s types of tasks</li>
            <li>Read and reflect on the Skills Key and make notes in relation to the questions</li>
            <li>Complete the preparation guide to the agreed time</li>
            <li>Bring the completed preparation guide to the dialogue</li>
        </ul>
    </p>
    <p>
        This preparation guide is not a deadline task. You can expect that it will take some time, so it is suggested that you begin a week before. This is a preparation that you can go back and forth to.
    </p>
    <p>
        The more effort you put into the preparation, the more beneficial it will be.
    </p>
    <p>
        If you have any questions or are unsure about anything related to the preparation guide, please contact your manager, who is responsible for your CDD, to clarify any questions.
    </p>
    <p>
        Your employee prepares for their meeting with you from a similar preparation guide.
    </p>
    <p>        
        The first part of the preparation guide is that you should complete the Task Key, the second part is to complete the Skills Key, and the third part is to make you think about the last dialogue.  
    </p>
    <p>
        During your preparation, you will be able to see how far you are in your preparation using the process bar, which is at the top of the page.
    </p>
    <p>
        The colour codes in the process bar are as follows:
        <ul style="list-style:none">
            <li><span class="bullet0"></span> You have not answered the questions/read the text below this point</li>
            <li><span class="activebullet"></span> You are working on this questions/read the text below this point</li>
            <li><span class="bullet2"></span> You have finished answering</li>
        </ul>
        Your completion will be saved automatically all the time, so it is possible to shut down the page and resume your answers later. 
    </p>
</div>






















