<div class="row" style="text-align: justify">
    
	<h2>Din MUS</h2>
    <p>
        Velkommen til din kommende medarbejderudviklingssamtale (MUS). Som navnet antyder, er det en samtale, hvor målet er at udvikle dig som medarbejder. For at MUS. kan skabe værdi for såvel dig som virksomheden, er det afgørende at forberede dig forud for samtalen. Før samtalen er det vigtigt, at både du og din leder tænker og reflekterer over en række spørgsmål. Under samtalen er det vigtigt, at I begge bidrager til en god dialog. Til sidst i samtalen skal I opsummere og nedskrive de udviklingsområder, som I er blevet enige om. 
    </p>
    <h3>Der er 3 faser i MUS</h3>
    <p>
        <strong>Fase 1 – Forberedelse</strong>
    </p>
    <p>
        <ul>
            <li>
                Udfyldelse af forberedelsesguiden, som består af:
                <ul>
                    <li>Opgavenøglen</li>
                    <li>Kompetencenøglen</li>
                    <li>Siden sidste MUS</li>
                </ul>
            </li>
        </ul>
    </p>
    <p>
        <strong>Fase 2 – Samtale</strong>
    </p>
    <p>
        <ul>
            <li>Dialog på baggrund af forberedelsesguiden</li>
            <li>Udfylde udviklingsplanen sammen undervejs i samtalen</li>
            <li>Samle op på de konkrete udviklingsområder og skrive dem ind i indsatsnøglen</li>
        </ul>
    </p>
    <p>
        <strong>Fase 3 – Realisering</strong>
    </p>
    <p>
        <ul>
            <li>Planlægning af løbende aktiviteter for at sætte udviklingsområderne i spil</li>
            <li>Du og din leder følger op på indsatsnøglen</li>
        </ul>
    </p>
    <h3>Forberedelse til MUS</h3>
    <p>
        Din forberedelse og engagement har stor indflydelse på, hvor stor effekt din MUS vil have for dig. Derfor skal du forud for samtalen gøre følgende:
    </p>
    <p>
        <ul>
            <li>Afsætte ca. 1 til 1½ times uforstyrret tid til at udfylde forberedelsesguiden</li>
            <li>Læse og reflektere over opgavenøglen og notere dine arbejdsopgaver</li>
            <li>Læse og reflektere over kompetencenøglen og notere i forhold til spørgsmålene</li>
            <li>Udfylde forberedelsesguiden til aftalt tid</li>
            <li>Medbringe den udfyldte forberedelsesguide til samtalen</li>
        </ul>
    </p>
    <p>
        Denne forberedelsesguide er ikke en deadlineopgave. Du kan forvente, at det tager noget tid, hvorfor vi foreslår, at du begynder en uge før. Dette er en forberedelse, som du gerne må gå frem og tilbage til. 
    </p>
    <p>
        Jo større indsatsen er under forberedelsen, desto større bliver udbyttet i sidste ende.
    </p>
    <p>
        Hvis du har spørgsmål eller er i tvivl om noget i forbindelse med forberedelsesguiden, kan du kontakte din leder, som er ansvarlig for din MUS for at få afklaret eventuelle spørgsmål.
    </p>
    <p>
        Din leder forbereder sig til mødet med dig ud fra en tilsvarende forberedelsesguide.
    </p>
    <p>
        Første del i forberedelsesguiden er, at du skal udfylde opgavenøglen og andet del er så at udfylde kompetencenøglen, og tredje del er, at gøre dig tanker siden sidst. 
    </p>
    <p>
        Undervejs i din forberedelse vil du have mulighed for at se, hvor langt du er i din forberedelse ved hjælp af procesbaren, som er øverst på siden. 
    </p>
    <p>
        Farvekoderne i procesbaren er følgende:
        <ul style="list-style:none">
            <li><span class="bullet0"></span> Du har ikke besvaret spørgsmålene/læst teksten under dette punkt</li>
            <li><span class="activebullet"></span> Du er i gang med dette punkt</li>
            <li><span class="bullet2"></span> Du er færdig med besvarelsen</li>
        </ul>
        Din udfyldelse bliver løbende gemt automatisk, så det er muligt for dig at lukke ned for siden og genoptage din besvarelse senere. 
    </p>
  </div>