<h2>Your dialogue</h2>
<p>
    Welcome to your upcoming Competence Development Dialogue (CDD). As the name suggests, it is a review in which the
    goal is to develop you as an employee. In order for the CDD to create value for both you and the company, it is
    essential that you prepare yourself prior to the dialogue. Before the conversation, it is important that both you
    and your manager think and reflect on a number of issues. During the conversation, it is important that you both
    contribute to a constructive dialogue. At the end of the conversation, the areas of development that you have agreed
    are summarised and written down.
</p>
<p>There are 3 stages to the Competence Development Dialogue:</p>
<p>
    <strong>Phase 1 – Preparation</strong>
</p>
<p>
<ul>
    <li>
        Complete the preparation guide, which consists of:
        <ul>
            <li>Task Key</li>
            <li>Skills Key</li>
            <li>Since the last dialogue</li>
        </ul>
    </li>
</ul>
</p>
<p>
    <strong>Phase 2 – Review </strong>
</p>
<p>
<ul>
    <li>Dialogue on the basis of the preparation guide</li>
    <li>Complete the development plan together during the CDD</li>
    <li>Summary of the specific development areas and write them in the Contribution Key</li>
</ul>
</p>
<p>
    <strong>Phase 3 – Realisation</strong>
</p>
<p>
<ul>
    <li>Plan ongoing activities to bring the development areas into play</li>
    <li>You and your manager regularly follow up on the Contribution Key</li>
</ul>
</p>
<h2>Preparation for the dialogue</h2>
<p>
    Your preparation and commitment have a great influence on how effective your CDD will be for you. Therefore, you
    should do the following prior to the C.D.D.:
</p>
<p>
<ul>
    <li>Set aside at least 90 uninterrupted minutes to complete the preparation guide</li>
    <li>Read and reflect on the Task Key and record your types of tasks</li>
    <li>Read and reflect on the Skills Key and make notes in relation to the questions</li>
    <li>Complete the preparation guide to the agreed time</li>
    <li>Bring the completed preparation guide to the CDD</li>
</ul>
</p>
<p>
    This preparation guide is not a deadline task. You can expect that it will take some time, so it os suggested that
    you begin a week before. This is a preparation that you can go back and forth to. Your completion will be saved
    automatically all the time, so it is possible to shut down the page and resume your answers later.
</p>
<p>
    The more effort you put into the preparation, the more beneficial it will be.
</p>
<p>
    If you have any questions or are unsure about anything related to the preparation guide, please contact your
    manager, who is responsible for your CDD, to clarify any questions.
</p>
<p>
    Your manager prepares for meeting with you from a similar preparation guide.
</p>
<p>
    The first part of the preparation guide is that you should complete the Task Key, the second part is to complete the
    Skills Key, and the third part is to make you think about your last CDD
</p>
