    
	<h2>MUS for {{ owner_name }}</h2>
    <p>
        Velkommen til årets medarbejderudviklingssamtale (MUS). Som navnet antyder, er det en samtale, hvor målet er at udvikle medarbejderen. For at MUS. kan skabe værdi for såvel medarbejderen som virksomheden, er det afgørende at forberede sig forud for samtalen. Før samtalen er det vigtigt, at både du og din medarbejder tænker og reflekterer over en række spørgsmål. Under samtalen er det vigtigt, at I begge bidrager til en god dialog. Til sidst i samtalen skal I opsummere og nedskrive de udviklingsområder, som I er blevet enige om. 
    </p>
    <p>Der er 3 faser i MUS</p>
    <p>
        <strong>Fase 1 – Forberedelse</strong>
        <ul>
            <li>Udfydelse af forberedelsesguiden, som består af:</li>
            <ul>
                <li>Opgavenøglen</li>
                <li>Kompetencenøglen</li>
                <li>Siden sidste MUS</li>
            </ul>
        </ul>
    	
    </p>
    <p>
        <strong>Fase 2 – Samtale</strong>
        <ul>
            <li>Dialog på baggrund af forberedelsesguiden</li>
            <li>Udfyldelse af udviklingsplanen sammen undervejs i samtalen</li>
            <li>Opsamling på de konkrete udviklingsområder og skrive dem ind i indsatsnøglen</li>
        </ul>
    </p>
    <p>
        <strong>Fase 3 – Realisering</strong>
        <ul>
            <li>Planlægning af løbende aktiviteter for at sætte udviklingsområderne i spil</li>
            <li>Du og din medarbejder følger løbende op på indsatsnøglen</li>
        </ul>
        
    </p>
    <h2>Forberedelse til MUS</h2>
    <p>
		Din forberedelse og engagement har stor indflydelse på, hvor stor effekt medarbejderens MUS vil have. Derfor skal du forud for samtalen gøre følgende:
        <ul>
            <li>Afsætte ca. 1 til 1½ times uforstyrret tid til at udfylde forberedelsesguiden</li>
            <li>Læse og reflektere over opgavenøglen og notere medarbejderens arbejdsopgaver</li>
            <li>Læse og reflektere over kompetencenøglen og notere i forhold til spørgsmålene</li>
            <li>Udfylde forberedelsesguiden til aftalt tid</li>
            <li>Medbringe den udfyldte forberedelsesguide til samtalen</li>
        </ul>
    </p>
    <p>
        Denne forberedelsesguide er ikke en deadlineopgave. Du kan forvente, at det tager noget tid, hvorfor vi foreslår, at du begynder en uge før. Dette er en forberedelse, som du gerne må gå frem og tilbage til. Din udfyldelse bliver gemt automatisk hele tiden, så det er muligt at lukke ned for siden og genoptage din besvarelse senere. 
    </p>
    <p>
        Jo større indsatsen er under forberedelsen, desto større bliver udbyttet i sidste ende.
    </p>
    <p>
        Din medarbejder forbereder sig til mødet med dig ud fra en tilsvarende forberedelsesguide.  
    </p>
    <p>
		Første del i forberedelsesguiden er, at du skal udfylde opgavenøglen, anden del er at udfylde kompetencenøglen, og tredje del er, at gøre dig tanker siden sidst. 
    </p>
